html,
body {
  margin: 0px;
  padding: 0px;
}
.container {
  margin: 0px;
  padding: 0px;
  background-image: url("./images/background.jpeg   ");
  height: 100vh;
}
h1 {
  margin: 0px;
  padding-top: 10px;
  text-align: center;
  color: blue;
}
#mycar {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
